# Make sure MIME types are mapped correctly
<IfModule mod_mime.c>
    AddType application/javascript .js
    AddType font/woff2 .woff2
    AddType font/woff .woff
    AddType font/ttf .ttf
    AddType application/vnd.ms-fontobject .eot
</IfModule>

RewriteEngine On

# Dynamic RewriteBase
RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]

# Remove busts from the paths of CSS/JS files
RewriteRule ^(.*)\.[\d]{10,}\.(css|js)$ %{ENV:BASE}/$1.$2

# Redirect to HTTPS if available
<IfModule mod_ssl.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Set cache parameters
<IfModule mod_headers.c>
    <FilesMatch "\.(woff2|woff|ttf|eot|js|css)$">
        # Font files are immutable. CSS/JS paths change when the files change.
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
    <FilesMatch "\.(php|json|webmanifest)$">
        # Always check for changes in any PHP files, songs.json and the webmanifest file.
        Header set Cache-Control "no-cache, public"
    </FilesMatch>
    <FilesMatch "^/?$">
        # Always check for changes in index.php.
        Header set Cache-Control "no-cache, public"
    </FilesMatch>
</IfModule>

# Enable compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css application/javascript application/json font/woff2 font/woff font/ttf application/vnd.ms-fontobject

    # To fix Apache bug (never returning 304 if the response is compressed)
    # https://bz.apache.org/bugzilla/show_bug.cgi?id=45023#c22
    RequestHeader edit "If-None-Match" '^"((.*)-gzip)"$' '"$1", "$2"'
</IfModule>
