<div id="emmet-song-player-{{playerId}}" class="emmet-song-player">
    <audio></audio>
    <button type="button" class="play-btn btn btn-primary" disabled><span class="oi oi-media-play"></span></button>
    <div class="progress-panel">
        <div class="progress-labels">
            <div class="media-title">
                <span class="text-muted"><em>Válassz egy felvételt.</em></span>
            </div>
            <div class="progress-text"></div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar"></div>
        </div>
    </div>
</div>
