{{#isLiteral}}
<div class="alert alert-danger">
    <span class="oi oi-beaker emmet-icon"></span> Ideiglenes, szó szerinti fordítás.
</div>
{{/isLiteral}}
<div class="emmet-song">
    {{#verses}}
    <div class="emmet-song-verse" id="emmet-song-verse-{{verseId}}">
        <div class="emmet-header{{#isChorus}} emmet-chorus{{/isChorus}}{{#isBridge}} emmet-bridge{{/isBridge}}">
            {{#hideDisplayName}}<span class="invisible">{{displayName}}</span>{{/hideDisplayName}}
            {{^hideDisplayName}}{{displayName}}{{/hideDisplayName}}
        </div>
        <div class="emmet-body{{#isChorus}} emmet-chorus{{/isChorus}}">
            {{#lines}}
            <p>{{.}}</p>
            {{/lines}}
        </div>
    </div>
    {{/verses}}
</div>